# OS garbage
.DS_Store
Thumbs.db

# Editor
.vscode/
*.code-workspace

# Environment variables
.env
.env.local

# Node (in case any tooling gets added)
node_modules/

# AWS SAM build artifacts
.aws-sam/
samconfig.toml

# Planning docs
PROJECT.md
CONTENT.md

#Forms folder
forms/

# SAM build artifacts
backend/.aws-sam/
backend/samconfig.toml